VITE_API_BASE_URL=http://localhost:8000
# 독립 검색엔진 API 주소. 인증 쿠키를 전송하지 않습니다.
VITE_SEARCH_API_BASE_URL=http://localhost:8001
# Kakao Developers의 JavaScript 키. 프런트엔드 Origin을 JavaScript SDK 도메인에 등록해야 합니다.
KAKAO_KEY=YOUR_JAVASCRIPT_KEY
